:root {
  /* color */
  --color-black: #3f454d;
  --color-gray: #b4b4b4;
  --color-light-grey: #dfdfdf;
  --color-white: #ffffff;
  --color-pink: #fd7f84;
  --color-yellow: #fbbe28;
  --color-blue: #3b88c3;

  /* size */
  --base-space: 8px;
  --size-button: 60px;
  --size-border: 4px;
  --size-thumbnail: 50px;
  --font-size: 18px;

  /* annimation */
  --annimation-duration: 300ms;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: var(--color-gray);
  font-family: 'Spoqa Han Sans Neo', 'sans-serif'; 
}

.logo {
  margin-bottom: var(--base-space);
  cursor: pointer;
  transition: transform var(--annimation-duration) ease;
}

.btn {
  margin-right: var(--base-space);
  border: none;
  background-color: transparent;
  outline: none;
  cursor: pointer;
  transition: transform var(--annimation-duration) ease;
}

.btn:hover,
.logo:hover {
  transform: scale(1.1);
}

/* BUTTONS */
.buttons {
  display: flex;
  align-items: center;
  margin-bottom: calc(var(--base-space) * 2);
}
.imgBtn {
  width: var(--size-button);
  height: var(--size-button);
}
.colorBtn {
  padding: calc(var(--base-space) * 2);
  border-radius: var(--size-border);
  font-size: var(--font-size);
}

/* BUTTONS COLOR */
.blue {
  background-color: var(--color-blue);
}
.yellow {
  background-color: var(--color-yellow);
}
.pink {
  background-color: var(--color-pink);
}

/* ITEMS */
.items {
  overflow-y: auto;
  width: 60%;
  height: 60%;
  padding-left: 0;
  list-style: none;
}
.item {
  display: flex;
  align-items: center;
  margin-bottom: var(--base-space);
  padding: calc(var(--base-space) * 1.5) calc(var(--base-space) * 4);
  border-radius: var(--size-border);
  background-color: white;
}
.item__thumbnail {
  width: var(--size-thumbnail);
  height: var(--size-thumbnail);
}
.item__description {
  margin-left: var(--base-space);
  font-size: var(--font-size)
}

